<div class="container">
  <h1>Name: <%= user.name %></h1>
  <h3>Email: <%= user.email %></h3>
  <h3>Role: <% if(user.admin){%>
    Admin
    <% } else { %>
    User
    <% } %></h3>
  <a class="btn btn-medium btn-primary" href="/user/edit/<%= user.id %>" >Edit</a>
</div>
