<h1>Login</h1>
<p><%= user !== undefined ? user : '' %></p>


<form method="POST" action="/login">
    <input type="email" name="email">
    <input type="password" name="password">
    <input type="submit" value="submit">
</form>

