<h1>Signup</h1>
<form method="POST" action="/user">
    <label>email</label><input type="email" name="email">
    <label>password</label><input type="password" name="password">
    <input type="submit" value="submit">
</form>

